<!DOCTYPE html>
<html>
  <head>
    <title>HappyBirthday</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path 'apple-touch-icon.png' %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path 'favicon-32x32.png' %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path 'favicon-16x16.png' %>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
